.card {
  margin-bottom: 5px;
  padding: 5px;
  position: relative;
}

.card--small {
  max-width: 304px;

}

.card--wall {
  cursor: pointer;
  text-align: center;

  &:hover {
    background-color: #2aeeda !important;
    .p{
      color: black;
    }
  }
}

.card--disabled {
  background-color: rgba(255, 255, 255, 0.4) !important;
  cursor: default;
}

// .card__icon {}

.card__text--button {
  color: #ffd749 !important;
  font-size: 25px;
}

.card__text--unit {
  color: #ffd749;
  font-size: 20px;
  margin: 10px;
}


.card--temp {
  background-color: #f05a24 !important;
  color: #fff !important;
  text-align: center;
}

.card--blue {
  background-color: #2058e1 !important;
  color: #ffff54 !important;
  text-align: center;
}

.card__text--value {
  font-size: 60px;
  font-weight: 300;
  line-height: 84px;
  color: black;
}

.card__text--label {
  color: #fff86b;
  font-size: 20px;
  font-weight: 300;
  line-height: 18px;
  margin: 10px;
}

.gauge-container{
  .gauge{
    .gauge-arrow{
      color: #d8000c;

    }
  }

}

